body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    background-size: 400% 400%;
    animation: gradientBG 20s ease infinite;
    color: #333;
    line-height: 1.6;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    background-color:linear-gradient(135deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 10px;
}

nav {
    background-color:linear-gradient(135deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

nav a {
    color: linear-gradient(135deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    background-color:linear-gradient(135deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    color: Pink;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
    background-color: linear-gradient(135deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}


.reviews img {
    width: 200px;
    height: 400px;
    object-fit: cover;
    margin: 10px;
}

.Students img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

.certificates, .address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.certificates p, .address p {
    max-width: 700px;
    text-align: center;
    margin-bottom: 20px;
}

.certificates img {
    max-width: 100%; 
    height: auto; 
    margin: 20px 0;
    padding: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd; 
}

@media (max-width: 768px) {
    .certificates img {
        max-width: 90%; 
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: linear-gradient(135deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff);
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    display: inline-block;
}

.social-icons img {
    width: 32px;
    height: 32px;
}
